/* ------------------------------- */


a,
th,
td,
tr,
select,
label,
input,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #67757c ;
}

*:focus, *:active {
    outline: -webkit-focus-ring-color auto 0px;
}


/* ------------------------------- */
/* BarNav */
.navbar {
    background-color: #ffffff !important;
    border-bottom: 2px #01541e solid;
    height: 70px;
    width: 100vw;
    position: fixed;
    z-index: 9999;
}

.nav-btn {
    color: gray;
}

.nav-btn:hover {
    color: #01541e;
}

.navbar-brand img {
    height: 40px;
    padding: 5px 0px;
}

.nav-user img {
    margin-top: 5px;
    height: 30px;
    border-radius: 40px;
}

.menu-card {
    z-index: 9999;
    position: fixed;
    top: 70px;
    right: 5px;
}

/* SubMenu Bar */
.menu-card img {
    height: 70px;
    border-radius: 70px;
}

.user-card {
    padding: 0px;
}

.up-card {
    padding: 20px;
}

.name-card h6 {
    margin: 0px 0 0 20px !important;
    /* color: gray; */
    font-weight: lighter;
}

.link-card ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.link-card li {
    list-style: none;
    padding: 5px 20px;
}

.link-card li a {
    color: gray;
}

.link-card li:hover {
    background-color: rgba(238, 238, 238, 0.521);
}

.link-card li:hover a {
    color: #01541e;
}

.link-card hr {
    margin: 5px;
}

/* ------------------------------- */
/* Main Wrapper */
.main-wrapper {
    /* transform: translateY(69px); */
    margin-top: 70px;
    height: calc(100% - 70px);
    background: #eaeaea;
    position: relative;
    display: inline-flex;
}

/* sidebar */
.sidebar {
    height: calc(100vh - 70px);
    width: 240px;
    background-color: white;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.05);
    overflow: auto;
    z-index: 9997;
}

.menu-element {
    font-size: 13px;
    color: #b4b4b4 !important;
    padding: 20px 20px;
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.menu-element.menu-active i, .menu-element.menu-active h6 a, .menu-element.menu-active h6{
    color:#008200 !important;
    
    
}
.menu-element.menu-active h6 a, .menu-element.menu-active h6{
    font-weight: bold
}

.menu-element h6 {
    margin-bottom: 0px;
    margin-left: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 15px;
    font-weight: 400;
}


.menu-element i {

    color: #b4b4b4;
    font-size: 18px;
}

.menu-element:hover a,
.menu-element:hover h6 {
    color: #008200;
}

.menu-element:hover i {

    color: #008200;
}

.pointer:hover {

    cursor: pointer;
}

.sub.menu-element {
    padding-left: 45px;
    padding: 10px 20px;
    margin-left: 20px;
}

/* page-wrapper */
.page-wrapper {
    height: calc(100vh - 70px);
    width: calc(100vw - 240px) !important;
    width: 100%;
    background: #f4f6f9;
    /* position: absolute; */
    overflow: auto;
    padding: 30px;
}

/* ------------------------------- */

.page-wrapper::-webkit-scrollbar-button, .sidebar::-webkit-scrollbar-button  {
    display: none;
    height: 10px;
    border-radius: 0px;
    background-color: #AAA;
}

.page-wrapper::-webkit-scrollbar-button:hover, .sidebar::-webkit-scrollbar-button:hover  {
    background-color: #AAA;
}

.page-wrapper::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb  {
    background-color: #CCC;
    border-radius: 20px;
}

.page-wrapper::-webkit-scrollbar-thumb:hover, .sidebar::-webkit-scrollbar-thumb:hover  {
    background-color: #c0c0c0;
}

.page-wrapper::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track  {
    background-color: #efefef;
}

.page-wrapper::-webkit-scrollbar-track:hover, .sidebar::-webkit-scrollbar-track:hover  {
    background-color: #e9e9e9;
}

.page-wrapper::-webkit-scrollbar, .sidebar::-webkit-scrollbar  {
    width: 10px;
    height: 10px;
}