/* Estilo "Card" */

.card {
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px #eaeaea solid;
    margin-bottom: 30px;
}

.card.card-table {
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px 0 5px 5px;
    border: 1px #eaeaea solid;
    ;
}

.card-title {
    margin-bottom: 0px;
}

.card-title-2 {
    margin-bottom: 0px;
    margin-left: 20px;
    font-weight: 150;
    font-size: 24px;
}

.badge {
    margin: 10px 5px 0 5px;
    ;
    height: 19px;
}

h5.badge.badge-pill.badge-primary {
    background-color: #00820090 !important;
}

h5.badge.badge-pill.badge-success {
    background-color: #008200 !important;
}

div#ejecutar, button#ejecutar {
    background-color: transparent;
    color: #008200;
    border: solid 1px #008200;
    font-weight: 500;
}

.form-control {
    min-height: 150px !important;
    max-height: 150px !important;
}

form .form-check h6 {
    white-space: nowrap;
    margin: 3px 0 0 0;
}
/* Tracking */
.nav-item a {
    color: gray;
    transition: .2s all;
}

.nav-item:hover a {
    color: #008200;
    font-size: 25px;
}

.nav-item.active a {
    color: #008200 !important;
    font-weight: bold;
    /* font-size: 20px; */
}

/* Estilo Tabla */

.form-check-label {
    font-size: 12px !important;
}

.subtitle-formcheck {
    font-size: 12px !important;
    margin: 0px;
    font-weight: 600;
}

.title-formcheck {
    font-size: 14px !important;
}
.generalform select:focus,
.generalform input:focus {
  border-bottom: 1px solid #008200;
  color: #008200;
}
/* Boton File */
.generalform input[type="file"].form-control-file {
  border: 1px solid transparent !important;
  position: relative;
  width: 100% !important;
  margin-left: 15px;
}

.generalform div.file-btn {
  position: absolute;
  height: 30px;
  width:158px;
  background-color: white;
  text-align: center;
  margin-top: 5px;
  padding-top:1px;
  border-radius: 5px;
  border:1px solid gray;
  color: gray;
  z-index: 49;
}
.generalform div.file-btn:hover {
  border:1px solid #008200;
  color: #008200;
  cursor: pointer;
}
/* Boton File */
.generalform select:focus~label,
.generalform input:focus~label {
  color: #008200 !important;
}

.group-generalform {
  margin-top: 20px;
  margin-bottom: 20px;
}

.group-generalform input,
.group-generalform input:empty {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  padding: 0px 0;
  transition: all .2s ease;
}

.group-generalform input:focus {
  border-color: #008200;
}

.group-generalform label,
.group-generalform input:empty~label {
  position: absolute;
  top: 50%;
  left: 25px;
  font-size: 16px;
  color: #999;
  transform: translateY(-50%);
  transition: all .2s ease;
}

.group-generalform input:focus~label,
.group-generalform input:valid~label {
  top: 10px;
  left: 20;
  font-size: 12px;
  color: gray;
}

/* Animate Labe and Input */
.generalform select,
.generalform input {
    border: 1px solid transparent;
    border-bottom: 1px solid #67757c;
    background-color: transparent;
    font-size: 14px;
    /* color: #67757c; */
    padding: 5px;
    width: 225px !important;
    height: 30px !important;
}

.generalform select {
    border: solid 1px white;
    border-bottom: 1px solid #67757c;
}

.generalform select::before,
.generalform input::before {
    width: 0;
    height: 0;
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}



.generalform label h5 {
    font-size: 12px;
}

.btn:focus {
    box-shadow: none;
}

select.disable1 {
    border: 1px solid #f4f6f9 !important;
    border-bottom: 1px solid #bebfbf !important;
    background-color: #f4f6f9;
    font-size: 14px;
    color: #bebfbf !important;
    text-decoration: line-through;
}

select.falta {
    border: 1px solid #f4f6f9 !important;
    border-bottom: 1px solid red !important;
    background-color: #f4f6f9;
    font-size: 14px;
    color: red !important;
}

/* Nuevo Form*/
i {
    font-style: normal;
}

tbody tr:hover {
    background-color: rgba(209, 209, 209, 0.486);
}

thead {
    border-bottom: 1px #67757c solid;
}

.borrado,
.hide {
    display: none !important;
}



.align-end {
    display: inline-grid;
    justify-content: end;
}


/* Button Table */
.button-ml-filter {
    background: transparent;
    color: #67757c;
    transition: all .3s;
}

.button-ml-filter:hover {
    background: transparent;
    color: #008200;
}

.button-ml {
    background-color: white;
    padding: 5px 13px;
    border-top: 1px #eaeaea solid;
    border-bottom: 0px #008200 solid;
    border-left: 1px #eaeaea solid;
    border-right: 1px #eaeaea solid;
    color: #67757c;
    font-size: 18px;
    transition: all .2s;
}

.button-ml:hover {
    color: #008200;
    cursor: pointer;
}
.button-ml:hover h6 {
    color: #008200;
    cursor: pointer;
}

/* Estilos */

/* Extras */

.oculto {
    display: none;
}

/* Extras */

/* Funciones Principales*/

thead {
    border-bottom: 1px #67757c solid;
}

.table_sticky th {
    background: #fff;
    color: #008200;
    border-top: #008200 solid 1px;
    font-weight: bold;
    border-bottom: #008200 solid 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* display: block; */
}

.table_sticky tr {
    background-color: #ffffff;
    color: #555;
}

.table_sticky tr:nth-child(even) {
    background-color: #f1f1f1;
}

.table_sticky tr:hover {
    color: rgb(85, 85, 85);
    background-color: rgba(209, 209, 209, 0.486);
}

.table_sticky tr:nth-child(even):hover {
    background-color: rgba(209, 209, 209, 0.486);
}

.table_sticky {
    overflow-y: auto;
    overflow-x: scroll;
    width: 100%;
    text-align: left;
    height: auto;
    max-height: 500px;
}

.table_sticky th {
    position: sticky;
    top: -1px;
}

.table_sticky table {
    border-collapse: collapse;
    width: 100%;
}

.table_sticky th,
.table_sticky td {
    padding: 12px 15px;
    min-width: 80px;
}

.table_sticky th.width200px {
    content: "";
    min-width: 200px;
}

.table_sticky th.width150px {
    content: "";
    min-width: 150px;
}

.table_sticky .widthauto th {
    content: "";
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.table_sticky::-webkit-scrollbar-button {
    display: none;
    height: 10px;
    border-radius: 0px;
    background-color: #AAA;
}

.table_sticky::-webkit-scrollbar-button:hover {
    background-color: #AAA;
}

.table_sticky::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 20px;
}

.table_sticky::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c0;
}

.table_sticky::-webkit-scrollbar-track {
    background-color: #efefef;
}

.table_sticky::-webkit-scrollbar-track:hover {
    background-color: #e9e9e9;
}

.table_sticky::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Funciones Principales*/